:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.card-shadow {
    box-shadow: 0 2px 5px 0 #00000029,0 2px 10px 0 #0000001f;
}
  
.card-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 #00000033,0 4px 20px 0 #00000030;
}

