* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    display: flex;
    align-items: center;
}

.main-course {
    margin-left: 95px;
    width: 50%;
}

.course-intro {
    line-height: 3rem;
    margin-top: 5px;
}

.course-intro-title {
    font-size: 3rem;
}

.course-intro-text {
    font-size: 2rem;
}

.course-author {
    font-size: 1.4rem;
}

.course-details {
    display: block;
    margin-left: 20px;
}

.course-details-vid {
    margin-left: 20px;
    cursor: pointer;
}

.course-img {
    width: 350px;
    border-radius: 8px;
}

.course-img-link {
    color: var(--white-color);
}

.circle-play {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: -195px;
    margin-top: 75px;
}

.buy-course {
    margin-left: 20px;
    line-height: 4.5rem;
    text-align: center;
}

.purple-btn {
    font-size: 1.4rem;
    width: 200px;
    height: 35px;
    background-color: #a435f0;
    color: var(--white-color);
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.course-include {
    text-align: center;
    margin-left: 40px;
}

.list-course-include {
    
}

.list-course-title {
    font-size: 1.6rem;
}

.list-course {
    display: block;
    font-size: 1.4rem;
    line-height: 3rem;
}

.course-description {
    /* margin-left: 95px;
    width: 50%; */
    margin-top: 10px
}

.course-author-link {
    color: #a435f0;
}

.course-description-text {
    font-size: 1.4rem;
    line-height: 2.6rem;
    margin-bottom: 5px;
}

.course-description-list-style {
    margin-left: 25px;
}

.knowledge-list-content {
    display: flex;
    margin-top: 10px;
}

.list-content {
    margin-right: 20px;
}

.knowledge {
    display: block;
    font-size: 1.4rem;
    line-height: 2.5rem;
}

.course-content-container-header {
    display: flex; 
    justify-content: space-between;
    background: #f5f5f5;
    border-radius: 8px;
    /* padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px; */
    padding: 20px;
    cursor: pointer;
    border: 1px solid #e9e9e9;
}

.course-content-detail {
    display: none;
    margin: 0 20px;
}

.display {
    display: block;
}

.course-content {
    margin-top: 15px; 
    display: flex; 
    justify-content: space-between;
}